.main-header {
  max-width: 730px;
  margin: 72px auto 65px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header-left h1 {
  margin: 0;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
  color: rgb(12, 14, 22);
}
.main-header-left p {
  margin-top: 8px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 500;
  color: rgb(136, 142, 176);
}
.second-p {
  display: none;
}
.main-header-right {
  display: flex;
  align-items: center;
  position: relative;
}
.main-header-right p {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: rgb(12, 14, 22);
  margin-right: 16px;
}
.main-header-right p:hover {
  cursor: pointer;
}
.main-header-right > span {
  margin-right: 40px;
}
.main-header-right > span {
  cursor: pointer;
}
.newInvoice-btn {
  display: flex;
  align-items: center;
  background-color: rgb(124, 93, 250);
  border-radius: 24px;
}
.newInvoice-btn:hover {
  cursor: pointer;
  background-color: rgb(146, 119, 255);
}
.newInvoice-btn img {
  padding: 11px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 16px 8px 8px;
}
.newInvoice {
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  margin-right: 15px;
}
.status-modal {
  position: absolute;
  top: 108%;
  right: 48%;
  width: 192px;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px 78px 24px 24px;
}
.status-modal > div {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
.status-modal > div:last-of-type {
  margin-bottom: 0;
}

input[type='checkbox'] {
  appearance: none;
  height: 16px;
  width: 16px;
  background-color: #dfe3fa;
  border: 1px solid #dfe3fa;
  border-radius: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  position: relative;
}
label {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.25px;
  color: #0c0e16;
  cursor: pointer;
  padding-left: 13px;
}
input[type='checkbox']::after {
  content: url(/src/assets/icon-check.svg);
  position: absolute;
  width: 16px;
  height: 16px;
  text-align: center;
  z-index: 2;
  border-radius: 2px;
  display: none;
}
input[type='checkbox']:hover {
  border: 1px solid #7c5dfa;
}
input[type='checkbox']:checked::after {
  display: block;
  background-color: #7c5dfa;
}

@media screen and (max-width: 1440px) {
  .main-header {
    margin: 128px auto 65px auto;
  }
}
@media screen and (max-width: 760px) {
  .main-header {
    width: 90%;
  }
}

@media screen and (max-width: 570px) {
  .main-header-left h1 {
    font-size: 20px;
    line-height: 22px;
  }
  .second-span {
    display: none;
  }
  .newInvoice-btn img {
    margin-right: 8px;
  }
  .first-p {
    display: none;
  }
  .second-p {
    display: block;
  }
  .main-header-right > span {
    margin-right: 20px;
  }
  .filter-span {
    display: none;
  }
  .main-header-right p {
    margin-right: 10px;
  }
}
@media screen and (max-width: 330px) {
  .main-header-right > span {
    margin-right: 12px;
  }
}
